<h1>Formularz:</h1>
<div>
    <form [formGroup]="modelForm" (ngSubmit)="onSubmit(modelForm)">
        <label>Imię:</label><input name="firstname" formControlName="firstname"><br />
        <span *ngIf="formErrors.firstname">{{ formErrors.firstname }}</span><br />

        <label>Nazwisko:</label><input name="lastname" formControlName="lastname"><br />
        <span *ngIf="formErrors.lastname">{{ formErrors.lastname }}</span><br />

        <label>Kod pocztowy:</label><input name="zip" formControlName="zip"><br />
        <label>Email:</label><input name="email" formControlName="email"><br />
        <label>Płeć:</label><input name="sex" formControlName="sex"><br />

        <button type="submit">Wyślij</button>
    </form>
</div>