div{
    text-align: left;
}

input{
    display: flex;
    width: 200px;
    height: 40px;
    background-color: #e4e4e4;
    border: solid 2px #a1a1a1;
    margin-top: 5px;
    justify-content: flex-start;
}

label{
    color:#ffffff;
    font-size: 30px;
    display:inline-block;
    margin-right: 5px;
}

#sex{
    color:#ffffff;
    font-size: 30px;
    float: left;
}

button{
    width:200px;
    height: 40px;
    color: #000000;
    font-size: 20px;
    border: solid 2px #a1a1a1;
    background-color: #e4e4e4;
    text-align: center;
}

span{
    color:#ff0000;
    font-size: 20px;
}

h1{
    color:#ffffff;
}


