div{
    text-align: center;
}

input{
    width: 200px;
    height: 40px;
    background-color: #e4e4e4;
    border: solid 2px #a1a1a1;
    margin-top: 5px;
}

label{
    color:#ffffff;
    font-size: 30px;
    display:inline-block;
    margin-right: 5px;
}

button{
    width:100px;
    height: 40px;
    color: #000000;
    font-size: 20px;
    border: solid 2px #a1a1a1;
    background-color: #e4e4e4;
    text-align:center;
    margin-top: 5px;
}

span{
    color:#ff0000;
    font-size: 20px;
}

h1{
    color:#ffffff;
}

#clear{
    color: #ff0000;
}
